In [2]:
!pip install yahoofinancials
!pip install yfinance

Requirement already satisfied: yahoofinancials in c:\users\akint\anaconda3\lib\site-packages (1.5)
Requirement already satisfied: pytz in c:\users\akint\anaconda3\lib\site-packages (from yahoofinancials) (2020.1)
Requirement already satisfied: beautifulsoup4 in c:\users\akint\anaconda3\lib\site-packages (from yahoofinancials) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\akint\anaconda3\lib\site-packages (from beautifulsoup4->yahoofinancials) (2.0.1)
Requirement already satisfied: yfinance in c:\users\akint\anaconda3\lib\site-packages (0.1.54)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\akint\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in c:\users\akint\anaconda3\lib\site-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in c:\users\akint\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: pandas>=0.24 in c:\users\akint\anaconda3\lib\site-packages (from yfinance) (1.0.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\akint\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\akint\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\akint\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akint\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\akint\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\akint\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\akint\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)

In [4]:
import pandas as pd
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
nflx_df = yf.download('NFLX', start_date="2004-1-2", end_date="2019-12-31")

[*********************100%***********************]  1 of 1 completed

In [25]:
nflx_df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [26]:
nflx_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-09-04,520.179993,527.359985,485.980011,516.049988,516.049988,8270100
2020-09-08,498.399994,522.000000,495.000000,507.019989,507.019989,5572700
2020-09-09,519.210022,520.000000,492.570007,500.190002,500.190002,6848100
2020-09-10,503.350006,506.290009,478.839996,480.670013,480.670013,6240200
2020-09-11,486.489990,493.730011,476.809998,482.029999,482.029999,5032700

In [27]:
len(nflx_df)

4609

In [21]:
type(nflx_df)

pandas.core.frame.DataFrame